@use "/src/styles/variables.module.scss" as var;

.root {
  padding: 2rem 0.8rem;

  &__heading {
    font-family: var.$font-source-serif;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.form {
  &__field {
    margin-bottom: 1.5rem;
  }

  &__field:last-of-type {
    margin-bottom: 0;
  }
}
