$black: #000000;
$black_90: #1a1a1a;
$black_80:#333333;
$black_70:#4d4d4d;
$black_60:#666666;
$black_50:#808080;
$black_40:#999999;
$black_30:#b3b3b3;
$black_20:#cccccc;
$black_10:#e6e6e6;

$white: #ffffff;


$padding: 32px;
$padding_sm: 18px;