$black: #000000;
$white: #ffffff;
$blue: #0d3b66;
$orange: #e4572e;
$red: #ff0000;
$green: #04de3e;

$black_90: #1a1a1a;
$black_80:#333333;
$black_70:#4d4d4d;
$black_60:#666666;
$black_50:#808080;
$black_40:#999999;
$black_30:#b3b3b3;
$black_20:#cccccc;
$black_10:#e6e6e6;

$blue_85: #030c14;
$blue_80: #04121f;
$blue_75: #051829;
$blue_70: #0F084B;
$blue_65: #08233d;
$blue_60: #092947;
$blue_55: #0a2f52;
$blue_50: #0c355c;

$blue_45: #254f75;
$blue_40: #3d6285;
$blue_35: #567694;
$blue_30: #6e89a3;
$blue_25: #869db3;
$blue_20: #9eb1c2;
$blue_15: #b6c4d1;
$blue_10: #cfd8e0;
$blue_5: #e7ebf0;

$orange_85: #2e1109;
$orange_80: #441a0e;
$orange_75: #5b2312;
$orange_70: #722c17;
$orange_65: #89341c;
$orange_60: #a03d20;
$orange_55: #b64625;
$orange_50: #cd4e29;

$orange_45: #e76843;
$orange_40: #e97958;
$orange_35: #ec896d;
$orange_30: #ef9a82;
$orange_25: #f2ab97;
$orange_20: #f4bcab;
$orange_15: #f7cdc0;
$orange_10: #faddd5;
$orange_5: #fceeea;

$padding: 32px;
$padding_sm: 18px;

$font-open-sans: var(--font-open-sans);
$font-source-serif: var(--font-source-serif);