@use "/src/styles/variables.module.scss" as var;

.root {
  padding: 1rem 1rem;
  text-decoration: none;
  color: var.$black_80;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 0;
  border: 0;
  font-weight: bold;
  cursor: pointer;

  &__contained {
    background-color: var.$orange;
  }

  &__outlined {
    background-color: transparent;
    border: 2px solid var.$blue_70;
  }
}

@media screen and (max-width: 768px) {
  .root {
    padding: 0.6rem 0.8rem;
  }
}
