@use "/src/styles/variables.module.scss" as var;

.root {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    input, textarea {
      border: 1px solid var.$black_20;
      border-radius: 0.5rem;
      padding: 0.8rem 1rem;
      font-size: 1rem;
      font-family: var.$font-open-sans;

      &::placeholder {
        color: var.$black_30;
      }

      &.error {
        border-color: var.$red;
      }
    }
  }

  &__error {
    span {
      font-size: 0.8rem;
      color: var.$red;
    }
  }
}