@use "/src/styles/variables.module.scss" as var;

.root {
  background-color: var.$orange;
  padding: 8px var.$padding;
  border-bottom: 2px solid var.$black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.menus {
  display: flex;
  align-items: center;
  gap: 18px;
  box-sizing: border-box;
}

.toggle_btn {
  display: none;
  font-size: 18px !important;
}

@media screen and (max-width: 768px) {
  .root {
    justify-content: flex-start;
    gap: 18px;
    padding: 8px var.$padding_sm;
  }

  .menus {
    display: none;
  }

  .toggle_btn {
    display: block;
  }

  .logo {
    flex-grow: 1;
    text-align: center;
    margin-right: 40px;
  }
}
